<nav class="navbar navbar-inverse navbar-fixed-top" id="my-navbar">
    <div class="container">
	 <div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse">
	   <span class="icon-bar"></span>
	   <span class="icon-bar"></span>
	   <span class="icon-bar"></span>
	   <span class="icon-bar"></span>
	  </button>
	  
	  <a href="/menustrony" class="navbar-brand">Serwis elektroniczny</a>
	 </div>
	 <div class="collapse navbar-collapse" id="nav-collapse">
	   <ul class="nav navbar-nav"> 
		<li><a href="/lodowka">Lodówka</a></li>
		<li><a href="/telewizor">Telewizor</a></li>
		<li><a href="/kuchenka">Kuchenka</a></li>
		<li><a href="/komputer">Komputer</a></li>
		<li><a href="/pralka">Pralka</a></li>

	   </ul>
	 </div>
	</div>
	 </nav>

	 <br>
		<br>
	     <router-outlet></router-outlet>
