
.icon-user:before { content: '\e800'; } /* '' */
.icon-phone:before { content: '\e801'; } /* '' */
.icon-graduation-cap:before { content: '\e802'; } /* '' */
.icon-water:before { content: '\e803'; } /* '' */
.icon-laptop-1:before { content: '\e804'; } /* '' */
.icon-fire:before { content: '\e805'; } /* '' */
.icon-monitor:before { content: '\f032'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */